$gridColumns: 24;

$i: 0;

@while $i <= $gridColumns {
    .grid-#{$i} {
        display: grid;
        grid-gap: 0.5rem;
        grid-template-columns: repeat($i, 1fr);

        &.inline {
            display: inline-grid;
        }

        &.no-gap {
            grid-gap: 0;
        }
    }

    $i: $i + 1;
}
